
.container{

    text-align: center;
    margin-top: 23px;
    
    
    border: rgb(212, 203, 203) ;
    background-color: rgb(194, 223, 89);
    border-radius: 50px;
}
table{
 margin: auto;
}
input{
    font-size: 45px;
    height: 78px;
}
button{
    font-size: 55px;
    background-color: green;
    width: 112px;
    height: 116px;
    margin: 2px;
    border-color: black;
    border-radius: 10px;
    border-width: 12px;
 

}
#screen{
   border-radius: 30px;
   border-color: black;
   border-width: 4px;
  
}
.calculator{
    border-color: rgb(192, 10, 10);
    background-color: rgb(21, 4, 27);
    
}
h1{
    font-size: 100px;
    margin-bottom: 10px;
}